<!DOCTYPE html>
<html>
<head>
    <title>Balance Enquiry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="atm-container">
    <h1>ATM</h1>
    <h2>Balance Enquiry</h2>

    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}

    {% if balance is none %}
    <form method="POST">
        <input type="password" name="pin" maxlength="4"
               placeholder="Enter 4-digit PIN" required>
        <button type="submit">Check Balance</button>
    </form>
    {% else %}
        <div class="balance-box">
            <h3>Available Balance</h3>
            <h1>₹{{ balance }}</h1>
        </div>

        <a href="{{ url_for('dashboard') }}">
            <button>Back to Menu</button>
        </a>
    {% endif %}
</div>
</body>
</html>