<!DOCTYPE html>
<html>
<head>
    <title>Deposit Money</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="atm-container">
    <h1>ATM</h1>
    <h2>Deposit Money</h2>

    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <form method="POST">
        <input type="number" name="amount"
               placeholder="Enter Amount" required>
        <button type="submit">Continue</button>
    </form>

    <a href="{{ url_for('dashboard') }}">
        <button>Back</button>
    </a>
</div>
</body>
</html>